mj-section(padding='0')
  mj-column
    mj-section(width='100%', height='100px', background-color='#cccccc', padding='0px')
      mj-column
        mj-table(font-size='27px')
          tr 
            th
              img(width='105', align='left', src='https://romeroruiz.com/static/images/logo.png')

            th(align='right')
              | My awesome mailing
