mj-section(padding='0')
  mj-column
    mj-section(width='100%', height='100', background-color='#cccccc', padding='0')
      mj-column
        mj-table(font-size='27px')
          tr 
            th
              img(width='105', align='left', src='https://romeroruiz.com/static/images/logo.png')

            th(padding-right='25px', align='right', line-height='120px') 
              | My mailing
