extends  ./../_includes/_layout.pug

block content
  mj-section(padding='20px 15px')
    mj-column
      mj-text(mj-class='blue medium center')
        h1
          | My awesome title

      mj-text(mj-class='blue medium')
        | This is a text and Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit cumque quae eaque praesentium veniam molestias excepturi labore modi ipsa! Minus cumque deleniti ullam sequi eos, suscipit sed impedit rem quod.
  
      mj-section(padding='0px')
        mj-column
          mj-text(mj-class='blue medium')
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perferendis repellendus maiores culpa delectus, quas voluptatibus quibusdam, sit enim cumque quidem, debitis! A officiis aliquid voluptate sapiente blanditiis assumenda fugiat?
        mj-column
          mj-text(mj-class='blue medium')
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perferendis repellendus maiores culpa delectus, quas voluptatibus quibusdam, sit enim cumque quidem, debitis! A officiis aliquid voluptate sapiente blanditiis assumenda fugiat?
        mj-column
          mj-text(mj-class='blue medium')
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perferendis repellendus maiores culpa delectus, quas voluptatibus quibusdam, sit enim cumque quidem, debitis! A officiis aliquid voluptate sapiente blanditiis assumenda fugiat?

      mj-text(mj-class='blue medium')
        h2
          | My awesome subtitle

      mj-section(padding='0px')
        mj-column
          mj-text(mj-class='blue medium')
            | Lorem ipsum dolor sit amet, consecteturss adipisicing elit. Dolore perferendis repellendus maiores culpa delectus, quas voluptatibus quibusdam, sit enim cumque quidem, debitis! A officiis aliquid voluptate sapiente blanditiis assumenda fugiat?
          mj-text(mj-class='blue medium')
            | Lorem ipsum dolor sit amet, consecteturss adipisicing elit. Dolore perferendis repellendus maiores culpa delectus, quas voluptatibus quibusdam, sit enim cumque quidem, debitis! A officiis aliquid voluptate sapiente blanditiis assumenda fugiat?
        mj-column
          mj-image(src='http://www.placecage.com/340/300')
